{% extends 'base.html' %}

{% block body %}
<div class="super_container">
    <!-- Orders -->
    <p class="h1 my-5 mx-4">My Orders:</p>

    {% if bookings %}
    {% for booking in bookings %}
    {% if currentDate <= booking.selected_date %} <div class="row mb-2 mx-5 my-3">
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <div class="row my-3">
                        <div class="col col-xs-8">
                            <h5>Booking Details:</h5>
                            <div class="row">
                                <div class="col col-xs-8">
                                    <p>Name:</p>
                                    <p>Email:</p>
                                    <p>Booking Time:</p>
                                </div>
                                <div class="col col-xs-4">
                                    <p>{{ booking.name }}</p>
                                    <p>{{ booking.email }}</p>
                                    <p>{{ booking.booking_time }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col col-xs-4">
                            <div class="row">
                                <div class="col col-xs-8">
                                    <p>Booking Date:</p>
                                    <p>Selected Date:</p>
                                    <p>Time Slot:</p>
                                    <p>Total Amount:</p>
                                </div>
                                <div class="col col-xs-4">
                                    <p>{{ booking.booking_date|date:"Y-m-d" }}</p>
                                    <p>{{ booking.selected_date|date:"Y-m-d" }}</p>
                                    <p>{{ booking.slots|join:", " }}</p>
                                    <p>Rs. {{ booking.amount }}</p>
                                    {% if currentDate < booking.selected_date %} <a href="#"
                                        class="btn btn-outline-danger my-3" role="button" aria-pressed="true"
                                        data-bs-toggle="modal" data-bs-target="#exampleModal{{ booking.id }}">Cancel</a>
                                        {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal{{ booking.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Turf (Booking Cancelation)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to Cancel your Booking?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                <form action="delete_booking/{{ booking.id }}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">YES</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% else %}
<p class="h1 my-5 mx-5 text-center">No Bookings Yet!</p>
{% endif %}
</div>
{% endblock body %}