<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Slot Booking</title>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            grid-gap: 10px;
            background-color: white;
            padding: 10px;
        }

        .grid-container > div {
            background-color: rgba(255, 255, 255, 0.8);
            text-align: center;
            padding: 20px 0;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">SurfTheTurf</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="book_now">Book Now</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="../templates/contactUs.html">Contact Us</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="logout">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="signup">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="header-name" style="text-align: center;">
        <h1>Select the Time Slot: {{ selectedDate }}</h1>
    </div>

    <form method="post" action="/book-slot">
        {% csrf_token %}
        <div class="grid-container">
            <div class="item1">
                <span class="material-icons" style="font-size: 60px; color: black; text-shadow: 2px 2px 4px #000000;">wb_sunny</span><br>Morning
            </div>
            <div class="item2">
                <div class="btn-group" role="group" aria-label="Morning slot selection">
                    <input type="checkbox" class="btn-check" id="btncheck1" name="slot" value="6-7am" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck1">6-7am</label>

                    <input type="checkbox" class="btn-check" id="btncheck2" name="slot" value="7-8am" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck2">7-8am</label>

                    <input type="checkbox" class="btn-check" id="btncheck10" name="slot" value="8-9am" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck10">8-9am</label>

                    <input type="checkbox" class="btn-check" id="btncheck11" name="slot" value="9-10am" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck11">9-10am</label>

                    <input type="checkbox" class="btn-check" id="btncheck12" name="slot" value="10-11am" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck12">10-11am</label>
                </div>
            </div>
            <div class="item3">
                <span class="material-icons" style="font-size: 60px; color: black; text-shadow: 2px 2px 4px #000000;">wb_sunny</span><br>Afternoon
            </div>
            <div class="item4">
                <div class="btn-group" role="group" aria-label="Afternoon slot selection">
                    <input type="checkbox" class="btn-check" id="btncheck4" name="slot" value="11-12pm" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck4">11-12pm</label>

                    <input type="checkbox" class="btn-check" id="btncheck5" name="slot" value="12-1pm" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck5">12-1pm</label>

                    <input type="checkbox" class="btn-check" id="btncheck6" name="slot" value="1-2pm" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck6">1-2pm</label>

                    <input type="checkbox" class="btn-check" id="btncheck13" name="slot" value="2-3pm" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck13">2-3pm</label>
                </div>
            </div>
            <div class="item5">
                <span class="material-icons" style="font-size: 60px; color: black; text-shadow: 2px 2px 4px #000000;">wb_sunny</span><br>Evening
            </div>
            <div class="item6">
                <div class="btn-group" role="group" aria-label="Evening slot selection">
                    <input type="checkbox" class="btn-check" id="btncheck7" name="slot" value="3-4pm" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck7">3-4pm</label>

                    <input type="checkbox" class="btn-check" id="btncheck8" name="slot" value="4-5pm" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck8">4-5pm</label>

                    <input type="checkbox" class="btn-check" id="btncheck9" name="slot" value="5-6pm" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck9">5-6pm</label>

                    <input type="checkbox" class="btn-check" id="btncheck14" name="slot" value="6-7pm" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck14">6-7pm</label>
                </div>
            </div>
            <div class="item7">
                <span class="material-icons" style="font-size: 60px; color: black; text-shadow: 2px 2px 4px #000000;">wb_sunny</span><br>Night
            </div>
            <div class="item8">
                <div class="btn-group" role="group" aria-label="Night slot selection">
                    <input type="checkbox" class="btn-check" id="btncheck15" name="slot" value="7-8pm" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck15">7-8pm</label>

                    <input type="checkbox" class="btn-check" id="btncheck16" name="slot" value="8-9pm" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck16">8-9pm</label>

                    <input type="checkbox" class="btn-check" id="btncheck17" name="slot" value="9-10pm" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck17">9-10pm</label>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Book Now</button>
        </div>
    </form>
</body>
</html>
